<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
 


  
    <%=@time%> 
   
    <form method="POST" action="/riddle">
   <p> Please enter a time: </p>  <input type='text' name='sentence'> <!-- name = key in a hash -->
     <input type='submit' value='submit'>
  
   </form>
      </body>
   
   </html>
