<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
 </head>
 <body>
  <p> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg?autoplay=1;loop=1" frameborder="0" allowfullscreen></iframe>
    
     <form>
     <p>Please enter your answer.</p><input type='text' name ='answer'> <!--name = KEY in HASH-->
     <input type="submit" value="Submit">
   </form>
   
    
   
   
   
 </body>
</html>
