<!DOCTYPE html>
<html>
  
 <head>
  <meta charset="UTF-8">
  <title>title</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
  
 <body id="body2">
   
   <br>
   <br>
   
   <div class="website2">
   <h1>WOOHOO!</h1>
     
   <img src="https://media4.giphy.com/media/11sBLVxNs7v6WA/200.gif" height="432" width="960">  
   </div>
   
   <br>
   <br>
   <br>
   <br>
   
 </body>
  
</html>
