<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Friday Loop</title>
 </head>
  <body id="body1">
    
    <div class="website">
    <h1>WELCOME TO THE FRUSTRATION GAME!</h1>
    
    <h2>Try and stop the extremely irritating song from playing by solving the riddle below. Good luck!</h2>
        
    <div class="wrong">  
    <h3>Wrong! Try again!</h3>
    </div>
      
      <embed name="friday" src="friday.mp3" loop="true" hidden="true" autostart="true">
    
      <img src="http://media.giphy.com/media/r5jHiw40rx5OE/giphy.gif">
      
    <br>
    <br>
    <br>
    
    <div class="riddle">
    <%=$question%>
    </div>
      
    <br>
      
    <form method="POST" action="/results">
      <p>Please enter your answer (be careful, some answers are case sensitive):</p><input type='text' name='answer'>
      <input type='submit' value='submit'> 
      <input type="hidden" name="riddle" value="<%=$question%>"> 
    </form>
      
    </div>
    
    <br>
    <br>
    <br>
    <br>
    
  </body>
</html>
